{% extends "base.html" %}

{% block title %}{{article.title|striptags|escape}}{% endblock %}

{% block content %}
<!-- Page Content -->
<!-- Banner Starts Here 
<div class="heading-page header-text">
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-content">
            <h4>Post Details</h4>
            <h2>Single blog post</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>-->

<section class="blog-posts grid-system article-grid">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="all-blog-posts">
          <div class="row">
            <div class="col-lg-12">
              <div class="blog-post">
                <!-- Blog post thumbnail -->
                <div class="blog-thumb article-thumb">
                  <img src="{{article.thumbnail}}" alt="{% if article.alt %}{{ article.alt }}{% endif %}">
                </div>
                <div class="down-content">
                  <!-- Display category -->
                  <span>{{article.category}}</span>
                  <!-- Article title -->
                  <h1>{{article.title}}</h1>
                  <!-- Post information -->
                  <ul class="post-info">
                    <li><a href="/{{ article.author.url }}">{{ article.author.name }}</a></li>
                    <li><a href="#">{{ article.date.strftime('%B %d, %Y') }}</a></li>
                  </ul>
                  {% if article.toc %}
                  <nav class="toc">
                      {{article.toc}}
                  </nav>
                  {% endif %}

                  <!-- Article content -->
                  {{article.content}}

                  {% if article.related_posts %}
                  <ul>
                  {% for related_post in article.related_posts %}
                      <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
                  {% endfor %}
                  </ul>
                  {% endif %}

                  <div class="post-options">
                    <div class="row">
                      <div class="col-6">
                        <!-- Display article tags -->
                        <ul class="post-tags">
                          <li><i class="fa fa-tags"></i></li>
                          {% for tag in article.tags %}
                          <li><a href="/{{tag.url}}">{{tag}}</a>,</li>
                          {% endfor %}
                        </ul>
                      </div>
                      <div class="col-6">
                        {% if article.share_post and article.status != 'draft' %}
                        <div id="post-share-links">
                          <!-- Share buttons -->
                          <ul class="post-share">
                            <li><i class="fa fa-share-alt"></i></li>
                            {% if article.share_post['twitter'] %}
                            <li><a href="{{ article.share_post['twitter'] }}" title="Share on Twitter"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a></li>
                            {% endif %}
                            {% if article.share_post['facebook'] %}
                            <li><a href="{{ article.share_post['facebook'] }}" title="Share on Facebook"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
                            </li>
                            {% endif %}
                            {% if article.share_post['linkedin'] %}
                            <li><a href="{{ article.share_post['linkedin'] }}" title="Share on LinkedIn"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
                            </li>
                            {% endif %}
                            {% if article.share_post['reddit'] %}
                            <li><a href="{{ article.share_post['reddit'] }}" title="Share via Reddit"><i class="fa-brands fa-reddit" aria-hidden="true"></i></a></li>
                            {% endif %}
                          </ul>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sidebar-item submit-comment">
                <div class="sidebar-heading">
                  <h2>Comment</h2>
                </div>
                <div class="content">
                  <!-- Include Disqus comments -->
                  {% include 'partial/disqus.html' %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- Include sidebar content -->
        {% include 'partial/sidebar.html' %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}