{% extends "base.html" %}

{% block title %}Contact Us | Get in Touch with Marketing Pro Insider{% endblock %}
{% block description %}Get in touch!{% endblock %}

  {% block custom_meta_tags %}<meta property="og:title" content="Contact Us | Get in Touch with Marketing Pro Insider">
  <meta property="twitter:title" content="Contact Us | Get in Touch with Marketing Pro Insider">{% endblock %}

{% block content %}
<div class="text-content">
  <!-- Banner Starts Here -->
  <div class="heading-page header-text">
    <section class="">
      <!-- Contact Us Banner -->
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            {% block section_title %}
            <!-- Section Title for Recent Posts -->
            <div class="banner">
              <img loading="lazy" src="/theme/assets/images/contact_us_banner.jpg" alt="contact us now">
            </div>
            {% endblock %}
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Banner Ends Here -->
</div>
<section class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="down-contact">
          <div class="row">
            <div class="col-lg-8">
              <!-- Google Maps Embed -->
                <iframe
                  src="{{ CONTACT_INFORMATION['Map Embed URL'] }}"
                  width="100%" height="450px" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-lg-4">
              <!-- Contact Information -->
              <div class="sidebar-item contact-information">
                <div class="sidebar-heading">
                  <h2>contact information</h2>
                </div>
                <div class="content">
                  <ul>
                    <li>
                      <h5><a style="color: inherit; text-decoration:none;" onmouseover="this.style.color='coral'" onmouseout="this.style.color='inherit'" href="mailto:{{ CONTACT_INFORMATION['Email Address'] }}">{{ CONTACT_INFORMATION['Email Address'] }}</a></h5>
                      <span>EMAIL ADDRESS</span>
                    </li>
                    <li>
                      <h5>{{ CONTACT_INFORMATION['Street Address'] }}</h5>
                      <span>STREET ADDRESS</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blog-posts grid-system">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1>Reach Out To Us</h1>
        <section>
          <h2>Solutions for Social Media Marketers</h2>
          <p>Are you struggling to stay ahead of the social media game? Our proven strategies and tips will help you increase engagement, drive traffic, and boost your brand's online visibility. From creating compelling content to analyzing metrics, our expert advice will help you navigate the complexities of social media marketing with ease.</p>
        </section>
        <section>
          <h2>Social Media Specialist Services</h2>
          <p>Looking for a social media specialist to take your online presence to the next level? Look no further. Our team of experienced professionals is ready to help you craft a customized social media strategy that aligns with your goals and objectives. Whether you need help with content creation, community management, or influencer partnerships, we have the expertise to help you succeed.</p>

          <h2>Guest Blog Submissions</h2>
          <p>Interested in sharing your insights and expertise with our audience? We're always on the lookout for guest bloggers to contribute to Marketing Pro Insider. Whether you have a success story to share or a unique perspective on the latest social media trends, we want to hear from you. Submit your guest blog today and join our community of social media enthusiasts.</p>

          <h2>Social Media Experts at Your Service</h2>
          <p>At Marketing Pro Insider, we understand the importance of staying ahead of the competition in the fast-paced world of social media. That's why we've assembled a team of social media experts who are dedicated to helping you achieve your goals. From developing a comprehensive social media strategy to optimizing your ad campaigns, our experts have the knowledge and experience to help you succeed.</p>

          <h2>SMMA Marketing Made Easy</h2>
          <p>Sick of struggling with your social media marketing efforts? Our <a href="https://marketingproinsider.com/faq">faq</a> SMMA marketing solutions are designed to simplify the process and help you achieve your desired results. Whether you're looking to increase brand awareness, drive conversions, or build a loyal following, our proven strategies will help you make the most of your social media efforts.</p>

          <h2>Contact Us Today</h2>
          <p>Ready to take your social media game to the next level? Contact us today to learn more <a href="https://marketingproinsider.com/about">about</a> our services and how we can help you achieve your <a href="https://marketingproinsider.com/category/social-media-marketing/">social media marketing</a> Whether you're a seasoned <a href="https://marketingproinsider.com/">social media specialist</a> or a newcomer looking to make a splash online, we have the solutions you need to succeed. Get in touch with Marketing Pro Insider today and let's start building your online presence.</p>
        </section>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block extra_js %}
<!-- Additional JS -->
<script src="https://kwes.io/v2/kwes-script.js"></script>
{% endblock extra_js %}
