{% extends "base.html" %}
{% block title %} Home | {{ SITENAME }} {% endblock %}

{% block content %}
<div class="heading-page header-text">
    <section class="page-heading">
      <!-- Recent Posts Banner -->
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-content">
              {% block section_title %}
              <!-- Section Title for Recent Posts -->
              <h4>Recent Posts</h4>
              <h2>Our Recent Blog Entries</h2>
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Banner Ends Here -->
  
  <section class="blog-posts grid-system">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="all-blog-posts">
            <input type="hidden" id="hidden-input" value='[
            {% for article in articles %}
              {
                "thumbnail": "{{ article.thumbnail }}",
                "category": "{{ article.category}}",
                "alt": "{{ article.alt }}",
                "slug": "{{ article.slug }}",
                "title": "{{ article.title }}",
                "author": [
                {"name":"{{ article.author }}", "url":"{{ article.author.url }}"}      
                ],
                "date": "{{ article.date.strftime("%B %d, %Y") }}",
                "resume": 
                {% if article.resume %}
                "{{ article.resume }}",
                {% else %}
                "",
                {% endif %}
                "tags": [
                {% for tag in article.tags %}
                { "name": "{{ tag }}", "url": "{{ tag.url }}" }{% if not loop.last %},{% endif %}
                {% endfor %}
                ],
                "SITEURL": "{{ SITEURL }}"
              }
              {% if not loop.last %},{% endif %}
            {% endfor %}
            ]'>
            {% include 'partial/articles_list.html' %}
          </div>
        </div>
        <div class="col-lg-4">
          <!-- Include the sidebar partial -->
          {% include 'partial/sidebar.html' %}
        </div>
      </div>
    </div>
  </section>
{% endblock content %}